$color-primary: #1971c2;
$color-primary-light: #87CEEB;
$color-primary-dark: #00c3ff; 
$color-gray-2:#f7f7f7f7;
$color-gray-dark: #777; 
$color-black:#000; 
$color-blue-text:#1971c2; 

// grid
$grid-width: 90rem;
$gutter-horizontal: 5rem;
$gutter-vertical: 4rem; 
//font
$default-font: 1rem; 
//outline
$outline: .2rem; 
